/* Estilo general para el cuerpo de la página */
html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  /* Contenedor principal para el contenido */
  .container-main {
    flex: 1;
  }
  
  /* Estilos personalizados para la Navbar */
  .navbar-custom {
    background-color: #343a40; /* Cambia el color de fondo según tu preferencia */
  }
  
  /* Estilos personalizados para los botones */
  .btn-custom {
    background-color: #007bff; /* Cambia el color del botón según tu preferencia */
    color: white;
  }
  
  /* Estilo para el pie de página */
  footer {
    background-color: #f1f1f1; /* Cambia el color de fondo del pie de página según tu preferencia */
    text-align: center;
    padding: 1rem;
  }